*{
    background-color: #ed82a2;
}
#nma{
    width: 400px !important;
    height: 38px !important;
    border: solid 1px #bec6d0 !important;
    padding: 12px 21px;
    text-align: center;
    margin-left:  200px;
    background-color: rgb(73, 43, 43);
}
#p{
    padding: 30px 800px 30px 10px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#tlp{
    width: 500px !important;
    height: 40px !important;
    border: solid 1px #bec6d0 !important;
    padding: 12px 20px;
    text-align: center;
    margin-left:  200px;
    background-color: whitesmoke;
}

#kta{
    width: 500px !important;
    height: 40px !important;
    border: solid 1px #bec6d0 !important;
    padding: 12px 20px;
    text-align: center;
    margin-left:  200px;
    background-color: whitesmoke;
}
#lksi{
    width: 500px !important;
    height: 40px !important;
    border: solid 1px #bec6d0 !important;
    padding: 12px 20px;
    text-align: center;
    margin-left:  200px;
    background-color: whitesmoke;
}

#klik{
    width: 500px !important;
    height: 40px !important;
    border: solid 1px #bec6d0 !important;
    padding: 12px 20px;
    text-align: center;
    margin-left:  200px;
    background-color: whitesmoke;
}