*{
  margin: 0;
  padding : 0;
  text-decoration: none;
}
.main{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("pulau-derawan.jpg");
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 95%;
  margin : 0 auto;
  padding :35px;
  background: rgba(146, 141, 141, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 30px;
  color :bisque;
  font-weight: bold;
  width: 100px;
  cursor : pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin : 0 30px;
  position: relative;
}
.navbar ul li a{
  color : blanchedalmond;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: black;
  position: absolute;
  left : 0;
  bottom : -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.btn{
  margin-top: 0px;
  display: inline-block;
  font-size: 20px;
  color : sandybrown;
  border: border;
  border-radius: 10px;
  cursor : pointer;
  background: none;
}
.btn:hover {
  background: wheat;
  color : black;
}
.content {
  top : 50%;
  width : 100%;
  text-align: center;
  color : white;
  position: absolute;
  transform: translateY(-50%);
}
.content h1 {
  font-size: 50px;
  margin-top: 50px;
}
.content p {
  margin : 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 180px;
  margin: 20px 10px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(160, 105, 105);
  background: transparent;
  border : 3px solid powderblue;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
span {
  height: 100%;
  width: 0;
  left : 0;
  bottom : 0;
  z-index: -1;
  position: absolute;
  border-radius : 10px;
  background: pink;
 
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
.about {
  height : 500px;
  margin-top: 100px;
  margin-left: 20%;
}
.about-titles {
  border-bottom: 3px solid black;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  color: black;
}
.foto {
  margin-top: 20px;
  margin-right: 1267px;
  float:right;
}
.biodata {
  position: absolute;
  color: black;
  font-size:20px;
  font-weight:sans-serif;
  float: center;
  margin-left: 300px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu {
  height: 500px;
  margin-top: 50px;
}

.menu-title {
  border-bottom: 3px solid black;
  font-size: 25px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  flex-grow: 0;
  color: black;
}

/*Galery*/

.Galery{
  width: 100%;
  height: 100vh;
  display : flex;
  align-items: center;
}
.Galery .box-Galery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Galery .box-Galery .box{
  text-align: center;
  margin-inline: 20px;
}
.Galery .box-Galery .box img {
  width : 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.footer{
  background-color: peachpuff;
  color: palevioletred;
  position: relative;
  top: 80px;
  left: 500px;
  margin: 80px;
  text-align: fixed;
  font-family: serif;
  width: 20%;
  height: 540px;
  margin-top: 550px;
  height: 15px;
  padding: 10px;
}

.footer-logo{
  font-size: 15px;
  float: left;
}

.footer-list{
  float: right;
}

.footer-list li{
  padding-bottom: 20px;
}

/*contact*/
.contact{
  height: 100%;
  padding: 100px 0 100px 0;
}
.contact .box-contact{
  flex-direction: column;
}
.contact .box-contact h1{
  margin-bottom: 50px;

}

